@{
    ViewData["Title"] = "Servicios que Ofrecemos";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<script type="text/javascript">
    window.history.forward();
</script>